*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
__pycache__/
/venv/
/demo/backend/storage/conversations.json
/demo/backend/storage/houses.json
# Virtual environment
.myVenv/
.env

# Streamlit
.streamlit/
